@import "tailwindcss";
@import "./theme.css";
@import "./utilities.css";

@custom-variant dark (&:where(.dark, .dark *));

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}