@theme {
    --color-bg-dark: #000000;
    --color-bg: #1E1E1E;
    --color-bg-light: #3f3f3f;

    --color-text: #ffffff;
    --color-text-muted: #cfcfcf;

    /* Dark mode */
    --color-dark-bg-dark: oklch(15% 0 0);
    --color-dark-bg: oklch(30% 0 0);
    --color-dark-bg-light: oklch(45% 0 0);

    --color-dark-text: #;
    --color-dark-text-muted: #;

    --color-dark-border: oklch(80% 0 0);
    
    --color-dark-primary: oklch(63.5% 0.308 360.0);
    --color-dark-accent: oklch(53.0% 0.308 360.0);

    --color-dark-success: oklch(93.5% 0.270 150.9);
    --color-dark-error: oklch(63.9% 0.270 23.3);
    --color-dark-warning: oklch(92.8% 0.225 108.6);
    --color-dark-info: oklch(62.7% 0.308 255.6);

    --color-dark-stat-better: #;
    --color-dark-stat-worse: #;
    --color-dark-stat-equal: #;
}