@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #7161EF;
  --secondary-color: #A594F9;
  --accent-color: #EFD9CE;
  --bg-color-primary: #151515;
  --card-border-color: #767676;
  --card-bg-color: #2f2e2e;
  --text-color: #FFFFFA;
  --positive-color: #6BF178;
  --negative-color: #FF5964;
}

.btn {
  border-radius: 10px;
  padding: 5px 10px;
  transition: background-color 0.25s;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: transparent;
  border: 1px solid white;
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-accent {
  background-color: var(--accent-color);
}

.btn-skeleton {
  border: 1px solid var(--primary-color);
}

.btn-skeleton:hover {
  background-color: var(--primary-color);
  border-color: transparent;
}